// code {
//   font-family: source-code-pro, Consolas, 'Courier New', monospace;
// }

h1 {
  color: mediumseagreen;
  // color: coral;
}

.AppLogo {
  width: 3rem;
  height: 3rem;
}

.cm-tooltip:has(.documentation) {
  max-width: 50vw;
  max-height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f9fafb;
}

.cm-tooltip .hover-tip pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

.cm-tooltip .documentation {
  // background-color: #fff;
  // secondary
  background-color: #f9fafb;
  // hover
  // background-color: #f3f4f6;
}

.cm-tooltip .hljs {
  background-color: #fafafa;
  // secondary
  // background-color: #f9fafb;
}

.cm-tooltip .documentation hr:first-of-type {
  margin-top: 0px;
}

.cm-tooltip .documentation pre {
  white-space: pre-wrap;
  // white-space: pre-line; // Spaces and tabs	is collapsed
}

.cm-tooltip .documentation pre code {
  padding: 8px;
  border-radius: 6px;
}

.cm-tooltip .documentation p code {
  // color: hsl(var(--muted));
  color: #71717a;
  font-weight: normal;
  font-size: 0.75rem;
  // background-color: hsl(var(--bg-elevated));
  background-color: #f9fafb;
  padding: 1px 4px;
  // font-family: roboto mono;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  border-radius: 4px;
  // border: 1px solid hsl(var(--border));
  border: 1px solid #e5e7eb;
}

.cm-tooltip .documentation > pre {
  padding-left: 8px;
  padding-right: 8px;
}

.cm-tooltip .documentation pre:first-of-type {
  padding-left: 0px;
  padding-right: 0px;
}

.cm-tooltip .documentation pre:first-of-type code {
  border-radius: 0px;
}

.cm-tooltip .documentation > p {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.cm-tooltip .documentation p,
.cm-tooltip .documentation li,
.cm-tooltip .documentation blockquote,
.cm-tooltip .documentation table,
.cm-tooltip .documentation td {
  font-size: 13px;
}

.cm-tooltip .documentation a {
  color: #6366f1;
  text-decoration: none;
}

.cm-tooltip .documentation blockquote {
  // font-weight: 500;
  font-style: italic;
  // color: var(--tw-prose-quotes);
  color: #18181b;
  border-inline-start-width: 2px;
  // border-inline-start-color: hsl(var(--border-secondary));
  border-inline-start-color: #d1d5db;
  // quotes: '\201C' '\201D' '\2018' '\2019';
  // margin-top: 4px;
  // margin-bottom: 24px;
  // padding-inline-start: 16px;
}

.cm-tooltip .documentation hr {
  height: 1px;
  border: none;
  border-top: 1px solid #d1d5db;
  margin-top: 6px;
  margin-bottom: 6px;
}
